<!-- mettre un bootstrap -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% @cocktails.each do |cocktail| %>
        <%= link_to(cocktail_path(cocktail)) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo %>');">
            <div class="card-category">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
          <p> </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<button>
  <%= link_to "Create Cocktail", new_cocktail_path %>
</button>

<div>
  <p> Cloudinary Image Bridge: </p>
  <%= cl_image_tag("vvrlhymndj6rtkrhk345.jpg", width: 400, height: 300, crop: :fill) %>
</div>

<div>
  <p> Exemple for face detection: </p>
  <%= cl_image_tag("lhkjgtmvhacjivy4cftl.jpg", width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>

